html {
    background-color: #000000 ;
    color: #ffffff; /*Default color*/
    text-align: center;
    font-family: "Verdana", sans-serif;
}
h1 {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}
h2 {
    font-weight: 300;
    font-size: 42px;
}
a {
    color: #7fffd4;
    font-size: 16px;
}
p {
    font-size: 21px;
    color: #808080;
}
#copyright {
    text-align: right !important; 
}